<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>AngularJS iOS Switch - Example</title>
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../ios-switch.css">
	<link rel="stylesheet" href="styles.css">

</head>
<body ng-app="app">

	<div class="wrapper" ng-controller="postCtrl">

		<h1>AngularJS iOS Switch</h1>

		<p>A simple AngularJS directive which creates an iOS-styled switch. The switch is connected to a data model and can be toggled on and off. In this example, the switch is connected to the <strong>published</strong> property on the <strong>post</strong> model.</p>

		<p><a href="https://github.com/LukePeters/AngularJS-iOS-Switch">Download the source on GitHub</a></p>

		<p><em>The post is currently published: <strong>{{ post.published }}</strong></em></p>

		<span class="iosSwitch" ng-model="post.published" ng-class="{checked: post.published}" ng-click="post.published = !post.published" ios-switch></span>

	</div>


	<script src="jquery.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<script src="postControllers.js"></script>
	<script src="../ios-switch-directive.js"></script>

</body>
</html>